{% extends 'site/partials/base.html.twig' %}

{% block title %}Accueil - Ecommerce{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <h1>Les catégories</h1>
                        <p>liste des catégories</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <p>slider des derniers produits ou produits phares</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>grille des produits</h1>
                <small>quelques catégories pour faire le tri</small>
                <p>grille des produits, 4 produits sur 2 lignes</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>le blog</h1>
                <p>les 3 derniers articles sur une ligne</p>
            </div>
        </div>
    </section>
{% endblock %}
