{% extends 'site/partials/base.html.twig' %}

{% block title %}Mentions légales - Ecommerce{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Conditions d'utilisation</h1>
                <p>Ce site (METTRE URL SITE) est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…)
                    pour un meilleur confort d’utilisation et un graphisme plus agréable, nous vous recommandons de recourir
                    à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…</p>
                <p>(METTRE NOM PRENOM) met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable
                    et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir.
                    L’internaute devra donc s’assurer de l’exactitude des informations au près de (METTRE NOM PRENOM), et
                    signaler toutes modifications du site qu’il jugerait utile. (METTRE NOM PRENOM) n’est en aucun cas responsable
                    de l’utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Liens hypertexte et collecte de cookies</h1>
                <p>Le site (METTRE URL SITE) peut offrir des liens vers d’autres sites internet ou d’autres ressources
                    disponibles sur Internet. (METTRE NOM PRENOM) ne dispose d’aucun moyen pour contrôler les sites en
                    connexion avec ses sites internet. (METTRE NOM PRENOM) ne répond pas de la disponibilité de tels sites
                    et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de
                    quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des
                    informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments.
                    Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer à leurs
                    conditions d’utilisation.</p>
                <p>Les utilisateurs, les abonnés et les visiteurs des sites internet  ne peuvent pas mettre en place un
                    hyperlien en direction de ce site sans l’autorisation expresse et préalable de (METTRE NOM PRENOM).</p>
                <p>Dans l’hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction
                    du site internet de (METTRE NOM PRENOM), il lui appartiendra d’adresser un email accessible
                    sur le site afin de formuler sa demande de mise en place d’un hyperlien. (METTRE NOM PRENOM) se réserve
                    le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.</p>
                <p>Le site (METTRE URL SITE) peut-être amené à vous demander l’acceptation des cookies pour des
                    besoins de statistiques et d’affichage. Un cookies est une information déposée sur votre disque dur
                    par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre
                    ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations .
                    Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Propriété intellectuelle et contrefaçons</h1>
                <p>(METTRE NOM PRENOM) est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles
                    sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.<br>
                    Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit
                    le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : (METTRE NOM PRENOM). <br>
                    Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive
                    d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Gestion des données personnelles</h1>
                <p>De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous
                    visitez notre site Internet (METTRE URL SITE).
                </p>
                <p>Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site,
                    vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre fonction,
                    le nom de votre société, votre adresse électronique, et votre numéro de téléphone. Tel est le cas
                    lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ».
                </p>
                <p>Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne
                    pourrez pas utiliser les services du site, notamment celui de solliciter des renseignements sur
                    notre société, ou de recevoir les lettres d’information.
                </p>
                <p>Enfin, nous pouvons collecter de manière automatique certaines informations vous concernant lors
                    d’une simple navigation sur notre site Internet, notamment : des informations concernant l’utilisation
                    de notre site, comme les zones que vous visitez et les services auxquels vous accédez,
                    votre adresse IP, le type de votre navigateur, vos temps d’accès.
                </p>
                <p>De telles informations sont utilisées exclusivement à des fins de statistiques internes, de manière
                    à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées
                    par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996
                    relative à la protection juridique des bases de données.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Contact</h1>
                <p>Vous pouvez contacter l'administrateur du site
                    sur la page
                    <a href="{{ path('contact') }}">"contact"</a> <br> du site
                    pour toutes remarques sur le fonctionnement du site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Editeur</h1>
                <p>Nom: prénom nom <br>
                    Siège Social: adresse <br>
                    Téléphone: +33 (0)6 00 00 00 00 <br>
                    {#                    SIRET: 315 623 330 000 26<br>#}
                    {#                    Code APE: 5520Z#}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Directeur de publication</h1>
                <p>Mr </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Réalisation du site</h1>
                <p>Nom: Sylvain Guerrin <br>
                    Siège Social: les hauts de saint Martin, 47390 Layrac <br>
                    Téléphone: +33 (0)6 43 15 22 43 <br>
                    e-mail: sguerrin549@gmail.com <br>
                    SIRET: 477 902 738 000 20 <br>
                    Code APE: 6201Z</p>
                <a href="https://www.sylvain-guerrin.fr" target="_blank">www.sylvain-guerrin.fr</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1>Hébergement</h1>
                <p>Infomaniak <br>
                    25 Eugène-Marziano <br>
                    1227 Les Acacias (Suisse) <br>
                    Téléphone: +41 22 820 35 44</p>
                <a href="https://www.infomaniak.com/fr" target="_blank">www.infomaniak.com</a>
            </div>
        </div>
    </div>
{% endblock %}
