{% extends 'site/partials/base.html.twig' %}

{% block title %}Nos produits - Ecommerce{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <h1>Nos catégories</h1>
                    <p>liste des catégories</p>
                    <hr>
                    <h1>prix</h1>
                    <p>tri par prix</p>
                    <p>ajout d'autres tri (en option)</p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <h1>Nos produits en promo</h1>
                    <p>carousel avec les 6 derniers produits en promo</p>
                    <hr>
                    <h1>Nos derniers produits</h1>
                    <p>grille avec 3 elements par ligne sur 4 lignes, pagination ?</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
