<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
</head>
<body>
<h1>{{ Facture }}</h1>
<div class="container">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <p>
                Payé le
                Référence de paiement
            </p>
        </div>
    </div>
</div>
<p>Lorem Ipsum</p>
</body>
</html>
