{% extends 'admin/partials/base.html.twig' %}
{% block title %}Détail de la commande{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Valider l'envoi de la commande</h1>
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
{% endblock %}
