{% extends 'admin/partials/base.html.twig' %}
{% block title %}Dashboard pour la tva{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <a href="{{ path('tva_create') }}" class="btn btn-color">Ajouter une nouvelle TVA</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-5 mb-5">La liste des TVA</h1>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
{% endblock %}
