{% extends 'site/partials/base.html.twig' %}

{% block title %}Panier - Ecommerce{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div id="table-cart" class="row">
            {{ include('site/partials/_cart-tab.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}
