{% extends 'site/partials/base.html.twig' %}

{% block title %}Votre paiement accepté{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Votre paiement à bien été éffectué.</p>
            </div>
        </div>
    </div>
{% endblock %}
