{% extends 'site/partials/base.html.twig' %}

{% block title %}Validation - Ecommerce{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>adresse livraison avec case</p>
                <p>adresse facturation avec case</p>

                <p>bouton pour rajouter adresse</p>
            </div>
            <div class="col-8">
                <p>tableau avec la commande</p>
                <p>en bas à droite bouton de paiement</p>
            </div>
        </div>
    </div>
{% endblock %}
